.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: auto;
    margin: 60px auto;
  }
  
  
  .hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    width: 100%;
    gap: 5px;
  }
  .hero-content-left {
    width: 100%;
    height: auto;
  }
  .hero-content-right {
    width: 100%;
    height: auto;
  }
  .img-hero{
      margin: 10px;
      width: 90%;
      height: 90%;
  }
  
  
  .service-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
  }
  .service-banner-card {
    width: 100%;
    height: 250px;
  }
  .service-banner-cc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-service{
      width:40%;
      height: 40%;
      border:1px solid red;
  }
  
  
  .numbers-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 5px;
    width: 100%;
    height: 250px;
  }
  .numbers-banner-card{
    width: 30%;
  }
  .img-numbers{
      width:100%;
      height: 100%;
  }
  .adoption-banner{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      gap: 5px;
      width: 100%;
      height: 250px;
  }
  
  .adoption-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 50%;
    height: auto;
    margin-left: auto;
  }